<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<util:list id="list1" list-class="java.util.ArrayList" value-type="java.lang.String">
		<value>one</value>
		<value>two</value>
		<value>three</value>
	</util:list>

	<util:list id="list2" list-class="java.util.ArrayList" value-type="java.lang.String">
		<value>four</value>
		<value>five</value>
		<value>six</value>
		<value>seven</value>
	</util:list>
	
	<bean id="abcEnum" class="com.ex.springbasicex.enums.MyEnum"   factory-method="valueOf">
		<constructor-arg>
			<value>ABC</value>
		</constructor-arg>
	</bean>
	
	<bean id="defEnum" class="com.ex.springbasicex.enums.MyEnum" factory-method="valueOf">
		<constructor-arg>
			<value>DEF</value>
		</constructor-arg>
	</bean>
	
	<bean id="abcString" class="java.lang.String" factory-method="valueOf">
		<constructor-arg>
			<ref bean="abcEnum"></ref>
		</constructor-arg>
	</bean>
	<bean id="defString" class="java.lang.String" factory-method="valueOf">
		<constructor-arg>
			<ref bean="defEnum"></ref>
		</constructor-arg>
	</bean>
	
	<util:map id="myMap" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
	    <entry key-ref="abcString" value="mapped output 1"  />
	    <entry key-ref="defString" value="mapped output 2" />
    </util:map>
    <context:component-scan base-package="com.ex.springbasicex.service"  />
    <bean id="myUrl" class="java.lang.String" >
		<constructor-arg>
			<value>/excel/template</value>
		</constructor-arg>
	</bean>
</beans>
